<div class="grid">
	@if (!loading)
	{
		<h1>Loading</h1>
	}
	else
	{
		<div style="margin-bottom:10px;">
			<button @onclick="@CreateRandomGridAsync">New Grid</button>
			<button @onclick="@ResetGridAsync">Reset Grid</button>
			<button @onclick="@VisualizeDijkstra">Dijkstra</button>
		</div>

		if (Grid != null)
		{
			<div>

				@for (int row = 0; row < Grid.GetLength(0); row++)
				{
					<div>
						@for (int col = 0; col < Grid.GetLength(1); col++)
						{
							int r = row;
							int c = col;
							<div class="node @Grid[row, col].classValue"
								 @onmousedown="@(async () => { await OnMouseDown(r, c); })"
								 @onmouseup="@(async () => { await OnMouseUp(r, c); })"
								 @onmouseover="@(async () => { await OnMouseEnter(r, c); })">
							</div>
						}
					</div>
				}
			</div>
		}
	}
</div>
